<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Tomasz Kiljanczyk on 26/12/2022, 17:04
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 26/12/2022, 17:02
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        android:minSdkVersion="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:minSdkVersion="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:minSdkVersion="31"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:minSdkVersion="33"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="tiramisu" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.LyricCastApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_lyriccast"
        android:label="@string/app_name"
        android:theme="@style/Theme.LyricCast.DarkActionBar">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="dev.thomas_kiljanczyk.lyriccast.application.CastOptionsProvider" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.LyricCast.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>