*.iml
.gradle
local.properties
.idea/*
!.idea/.gitignore
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/copyright/
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/misc.xml
!.idea/vcs.xml
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/kotlinc.xml
!.idea/detekt.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
.kotlin

/app/release/
temp/
